<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>vaadin7</display-name>
	<context-param>
		<description>
		Vaadin production mode</description>
		<param-name>productionMode</param-name>
		<param-value>false</param-value>
	</context-param>
	<servlet>
		<servlet-name>Vaadin7 Application</servlet-name>
		<servlet-class>com.vaadin.server.VaadinServlet</servlet-class>
		<init-param>
			<description>
			Vaadin UI class to use</description>
			<param-name>UI</param-name>
			<param-value>com.domreporter.login.AdminUI</param-value>
		</init-param>
		
		<init-param>
   			<param-name>widgetset</param-name>
   			<param-value>com.domreporter.AdminWidgetset</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>Vaadin7 Application</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
	
	<error-page>
		<error-code>500</error-code>
		<location>/server_error.html</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/server_error.html</location>
	</error-page>
		<error-page>
		<error-code>401</error-code>
		<location>/server_error.html</location>
	</error-page>
		<error-page>
		<error-code>403</error-code>
		<location>/server_error.html</location>
	</error-page>
	<error-page>
		<error-code>503</error-code>
		<location>/server_error.html</location>
	</error-page>
	
</web-app>
