<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
	
	<!-- User and password settings -->
		<property name="hibernate.connection.url">jdbc:mysql://localhost/db</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.username">domreporter</property>
		<property name="hibernate.connection.password">domreporter</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
	
	<!-- Other hibernate settings  -->
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.bytecode.use_reflection_optimizer">false</property>
		<property name="hibernate.connection.pool_size">10</property>
		<property name="hibernate.current_session_context_class">thread</property>
	
	<!-- Entity model-->
		<mapping class="com.domreporter.model.Click" />
		<mapping class="com.domreporter.model.HtmlSnapshot" />

		
	</session-factory>
</hibernate-configuration>